/instaBot/__pycache__
/instaBot/chromedriver
/instaBot/User_Data/
/instaBot/User_Data1/
/instaBot/User_Data2/
/instaBot/User_Data3/
/instaBot/User_Data4/
/instaBot/User_Data5/
/instaBot/User_Data6/
/instaBot/User_Data7/
/instaBot/.env
/instaBot/chromedriver.exe