.cabeçalho {
    text-align: center;
}

.titulo p {
    align-content: center;
    margin-top: 50px;
}

.img-perfil {
    width: 150px;
    height: 15%;
    border-radius: 50%;
}

.bolinha {
    padding-bottom: 20px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d0808;
}

.text-style {
    color: #ffecec;
    padding-top: 50px;
}

.text-title {
    font-size: 40px;
}

.text-description {
    padding-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.content-all {
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

.content-center {
    padding-left: 30px;
    padding-right: 30px;
    border-style: inherit;
    /* background-color: rgb(241, 241, 241); */
}

.footer-style {
    color: #ffecec;
    height: 300px;
    width: auto;
    background-color: #4d0808;
}

.footer-align {
    margin-left: 30%;
    margin-right: 30%;
}

.email-style {
    padding-top: 50px;
    padding-bottom: 50px;
    max-block-size: 190px;
}

.email {
    padding-bottom: 5px;
    padding-right: 200px;
}

.icon-img {
    height: 50px;
}

.sobre {
    padding: 15px 15px 15px 15px;
    /* background-color: rgb(136, 64, 64); */
    block-size: 300px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.sobre-img {
    padding: 15px 15px 15px 15px;
    block-size: 300px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.img-lista-tamanho {
    max-width: 100%;
    height: 300px;
}

.icon-head {
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: 300px;
}

.img-eu {
    width: 150px;
    height: 15%;
    border-radius: 50%;
}

.bolinha {
    padding-bottom: 20px;
}

.centraliza-texto {
    text-align: center;
    text-justify: center;
}

.space-between {
    padding-bottom: 30px;
}

.list-hab {
    padding-top: 30px;
}